#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
}

.App {

}

h3 {
  margin: 0 0 20px 0;
}

.Order {
  display: flex;

}

.CreatingOrderBlock {
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
}

.MenuTitle {
  margin: 15px 0 0 0;
}

.MenuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 4px;
  margin: 10px;
  width: 100px;
  height: 60px;
  font-size: 15px;
}

.MenuItems p {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.OrderedDish {
  display: flex;
}

.OrderedDish p {
  margin: 25px 0 0 auto;
}

.OrderDetails {
  margin: 0 50px 0 0;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  min-width: 235px;
}

.Price {
  border-top: 1px solid black;
  padding: 10px 0 0 0;
}